.container {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 30px;
  margin-bottom: 24px;
}
.loginBtn {
  padding: 0.75rem 2.3rem;
  border-radius: 8px;
  background: #3e5c37;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  border: none;
  text-decoration: none;
  box-shadow: 0 1.5px 7px #0001;
  cursor: pointer;
  transition: background 0.2s;
}
.loginBtn:hover {
  background: #274021;
}
.registerBtn {
  padding: 0.75rem 2.3rem;
  border-radius: 8px;
  background: #ede7d2;
  color: #3e5c37;
  font-weight: 700;
  font-size: 18px;
  border: 2px solid #3e5c37;
  text-decoration: none;
  box-shadow: 0 1.5px 7px #0001;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
}
.registerBtn:hover {
  background: #d2cbb0;
  color: #142810;
  border-color: #142810;
}
